# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.build/
dist/
.venv/
venv/
ENV/
.env
.pytest_cache/
.mypy_cache/
.dmypy.json
.pyre/
.coverage*
htmlcov/
*.log

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
